@import scala.language.postfixOps
@import helpers._
@(ownTent: List[Questions], camper: List[(Questions, Boolean)], caravan: List[(Questions, Boolean)],
        bellTent: List[(Questions, (Option[Int], Option[Int]))], offSite: List[(Questions, String)])(implicit request: RequestHeader)

@admin.adminPage("Accommodation report") {
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="heading">Own tent</h2>
                    <div>
                        <p>Total: @ownTent.map(_.adultsComing.size).sum adults and @ownTent.map(_.childrenComing.size).sum children</p>
                        <ul>
                        @ownTent.map { questions =>
                            <li><a href="@routes.AdminController.details(questions.invite.id.toString)">@questions.coming.firstNames</a></li>
                        }
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h2 class="heading">Campers</h2>
                    <div>
                        <p>Total: @camper.map(_._1.adultsComing.size).sum adults and @camper.map(_._1.childrenComing.size).sum children</p>
                        <p>Hookups: @camper.map(_._2).count(true ==)</p>
                        <ul>
                        @camper.map { case (questions, hookup) =>
                        <li><a href="@routes.AdminController.details(questions.invite.id.toString)">@questions.coming.firstNames</a>
                            @if(hookup) {with hookup} else {without hookup}</li>
                        }
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h2 class="heading">Caravans</h2>
                    <div>
                        <p>Total: @caravan.map(_._1.adultsComing.size).sum adults and @caravan.map(_._1.childrenComing.size).sum children</p>
                        <p>Hookups: @caravan.map(_._2).count(true ==)</p>
                        <ul>
                        @caravan.map { case (questions, hookup) =>
                        <li><a href="@routes.AdminController.details(questions.invite.id.toString)">@questions.coming.firstNames</a>
                            @if(hookup) {with hookup} else {without hookup}</li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h2 class="heading">Bell Tents</h2>
                    <div>
                        <p>Total: @bellTent.map(_._1.adultsComing.size).sum adults and @bellTent.map(_._1.childrenComing.size).sum children</p>
                        <p>Total bedding: @bellTent.flatMap(_._2._2).sum</p>
                        <ul>
                        @bellTent.map { case (questions, (sharing, bedding)) =>
                        <li><a href="@routes.AdminController.details(questions.invite.id.toString)">@questions.coming.firstNames</a>
                            - sharing with @sharing.getOrElse("???") and want @bedding.getOrElse("???") sets of bedding</li>
                        }
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h2 class="heading">Off site</h2>
                    <div>
                        <p>Total: @offSite.map(_._1.adultsComing.size).sum adults and @offSite.map(_._1.childrenComing.size).sum children</p>
                        <ul>
                        @offSite.map { case (questions, location) =>
                        <li><a href="@routes.AdminController.details(questions.invite.id.toString)">@questions.coming.firstNames</a>
                            staying at @location</li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}