@import org.joda.time.format.DateTimeFormat
@import helper._
@import helpers._
@import com.gu.googleauth.UserIdentity
@(questions: Questions, draftQuestions: Questions)(implicit request: Security.AuthenticatedRequest[_, UserIdentity])

@admin.adminPage(s"Details for ${questions.invite.giveMeAName}") {
    <section class="section">
        <div class="container">
            <h1>Details for @questions.invite.giveMeAName</h1>
            @if(Whitelist.superusers.contains(request.user.email)) {
                <p>@form(CSRF(routes.AdminController.action), 'class -> "inline") {
                    <input type="hidden" name="id" value="@questions.invite.id.toString">
                    <button class="button is-small is-danger" name="action" value="impersonate">Impersonate</button>
                }</p>
                <div class="notification">Magic login links for this invite (don't use these yourself, use the impersonate
                    button above):
                    <ul>
                        <li>Main page: <small>@questions.invite.rsvpLink.absoluteURL()</small></li>
                        @rsvpPages.map { case (name, call) =>
                            @questions.invite.rsvpLink(call).map{ link => <li>@name: <small>@link.absoluteURL()</small></li> }
                        }
                    </ul>
                </div>
                <p>Last logged in: @questions.invite.lastLoggedIn.map(DateTimeFormat.mediumDateTime().print).getOrElse("never")</p>
                <p>Invite e-mail: @questions.invite.email.getOrElse("No e-mail for this invite")</p>
            }
            <p>Adults: @questions.invite.adults.map(_.name).mkString(", ")</p>
            @if(questions.invite.children.nonEmpty) {
                <p>Children: @questions.invite.children.map(_.name).mkString(", ")</p>
            }
            <h2 class="heading">RSVP</h2>
            @if(questions.rsvpFacet != draftQuestions.rsvpFacet) {
                <div class="notification is-danger">
                    NOTE: This invite has unsaved RSVP changes, see the draft RSVP below for details.
                </div>
            }
            @if(questions.invite.rsvp.isEmpty) {
                <p>Not yet RSVPed</p>
            } else {
                @admin.rsvpFragment(questions)
            }
            @if(questions.rsvpFacet != draftQuestions.rsvpFacet) {
                <h2 class="heading">Draft RSVP</h2>
                @admin.rsvpFragment(draftQuestions)
            }
        </div>
    </section>
}