@import scala.language.postfixOps
@import helpers._
@(meals: Seq[(String, (List[Adult], List[Child]))], diets: Seq[(String, List[Person], String, String)], noLinks: Boolean)(implicit request: RequestHeader)

@admin.adminPage("Food report") {
    <section class="section">
        <div class="container">
            <h1 class="heading">Expected meal numbers</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Meal</th>
                        <th>Adults</th>
                        <th>Children</th>
                    </tr>
                </thead>
                <tbody>
                @meals.map { case (meal, (adults, children)) =>
                <tr>
                    <td>@meal</td>
                    <td>@adults.length</td>
                    <td>@children.length <small>(@children.ageList)</small></td>
                </tr>
                }
                </tbody>
            </table>
            <h1 class="heading">Dietary requirements</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>When</th>
                        <th>Allergy</th>
                    </tr>
                </thead>
                <tbody>
                    @diets.map { case (id, who, desc, when) =>
                        <tr>
                            <td>
                                <ul>
                                @who.map { person =>
                                    @if(!noLinks){<a href="@routes.AdminController.details(id)">}
                                    <li>@person.name</li>
                                    @if(!noLinks){</a>}
                                }
                                </ul>
                            </td>
                            <td>@when</td>
                            <td>@desc</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}