@import helpers.Auth
@import org.joda.time.format.DateTimeFormat
@(invitees: List[Invite])(implicit request: RequestHeader)
@import helper._

@admin.adminPage("Admin home"){
    <section class="section">
        <div class="container">
            <h1 class="heading">The List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Names</th>
                        <th>Contact e-mail</th>
                        <th>Children</th>
                        <th>Address?</th>
                        <th>Last seen</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @invitees.sortBy(_.adults.head.name).map { invitee =>
                        <tr>
                            <td><a href="@routes.AdminController.details(invitee.id.toString)">@invitee.giveMeAName</a></td>
                            <td>@invitee.email@if(invitee.emailPreferred){ <strong>(preferred)</strong>}</td>
                            <td>@invitee.children.map(_.name).mkString(", ")</td>
                            <td>@if(invitee.address.nonEmpty){yes}else{<strong>missing</strong>}</td>
                            <td>@invitee.lastLoggedIn.map(DateTimeFormat.mediumDateTime().print).getOrElse("never")</td>
                            <td>
                                @form(CSRF(routes.AdminController.action), 'class -> "inline") {
                                    <input type="hidden" name="id" value="@invitee.id.toString">
                                    <button class="button is-small is-danger" name="action" value="impersonate">Impersonate</button>
                                    <button class="button is-small@if(invitee.sent){ is-success}" name="action" value="toggleInviteSent">Mark as @if(invitee.sent){unsent}else{sent}</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <div class="container">
            @form(CSRF(routes.AdminController.uploadCsv), 'enctype -> "multipart/form-data") {
                <input type="file" name="csv">
                <input type="submit">
            }
        </div>
    </section>
}