@(overall: InviteSummary, coming: InviteSummary, notComing: InviteSummary)(implicit request: RequestHeader)

@admin.adminPage("Admin dashboard") {
    <section class="section">
        <div class="container">
            <h1 class="heading">Summary Dashboard</h1>
            <div class="columns">
                <div class="column">
                    <h2>Sent</h2>
                    <p>Invites: @overall.inviteCount</p>
                    <p>Adults: @overall.adultCount</p>
                    <p>Children: @overall.childCount</p>
                </div>
                <div class="column">
                    <h2>RSVP Yes</h2>
                    <p>Invites: @coming.inviteCount</p>
                    <p>Adults: @coming.adultCount</p>
                    <p>Children: @coming.childCount</p>
                    <ul>
                        @coming.invites.map { invite =>
                          <li>@invite.giveMeAName</li>
                        }
                    </ul>
                </div>
                <div class="column">
                    <h2>RSVP No</h2>
                    <p>Invites: @notComing.inviteCount</p>
                    <p>Adults: @notComing.adultCount</p>
                    <p>Children: @notComing.childCount</p>
                    <ul>
                    @notComing.invites.map { invite =>
                        <li>@invite.giveMeAName</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}