@(overall: InviteSummary, coming: InviteSummary, notComing: InviteSummary)(implicit request: RequestHeader)

@admin.adminPage("Admin dashboard") {
    <section class="section">
        <div class="container">
            <h1 class="heading">Summary Dashboard</h1>
            <div class="columns">
                <div class="column">
                    <h2>Sent</h2>
                    <p>Invites: @overall.invites.size</p>
                    <p>Adults: @overall.adultCount</p>
                    <p>Children: @overall.childCount</p>
                </div>
                <div class="column">
                    <h2>RSVP Yes</h2>
                    <p>Invites: @coming.invites.size</p>
                    <p>Adults: @coming.adultCount</p>
                    <p>Children: @coming.childCount</p>
                    <ul>
                        @coming.invites.map { invite =>
                          <li>@invite.giveMeAName (@{invite.adultsComing.size}A + @{invite.childrenComing.size}C)</li>
                        }
                    </ul>
                </div>
                <div class="column">
                    <h2>RSVP No</h2>
                    <p>Invites: @notComing.invites.size</p>
                    <p>Adults: @notComing.adultCount</p>
                    <p>Children: @notComing.childCount</p>
                    <ul>
                    @notComing.invites.map { invite =>
                        <li>@invite.giveMeAName (@{invite.adultsNotComing.size}A + @{invite.childrenNotComing.size}C)</li>
                    }
                    </ul>
                </div>
            </div>
            <h2 class="heading">Last logins</h2>
            <div>
                <ul>
                    @overall.invites.filter(_.lastLoggedIn.nonEmpty).sortBy(_.lastLoggedIn.map(-_.getMillis)).take(10).map { invite =>
                      <li>@invite.giveMeAName</li>
                    }
                </ul>
            </div>
        </div>
    </section>
}