@(invite: Invite)(implicit rh: RequestHeader)
@import helper._

    @page("RSVP", reactComponent=Some("rsvp"), requestHeader = Some(rh)) {
        <section class="section">
            <div class="container">
                <div>
                <h1>RSVP details</h1>
                <h2>Grown ups</h2>
                @invite.adults.map { adult =>
                    <p>@adult.name</p>
                }
                @if(invite.children.nonEmpty) {
                    <h2>Kids</h2>
                    @invite.children.map { kid =>
                        <p>@kid.name (DOB: @kid.dob)</p>
                    }
                }
                <h2>Your RSVP has the following contact details:</h2>
                <p><strong>E-mail:</strong> @invite.email</p>
                <p><strong>Address:</strong> @invite.address</p>
                </div>
                <div id="container"></div>
            </div>
        </section>
    }