@(invite: Invite)(implicit rh: RequestHeader)
@import helper._

@page("RSVP"){
    <section class="section">
        <div class="container">
            <div>
                <h1>We'll miss you</h1>
            </div>
@*
            <div>
                @form(CSRF(routes.RsvpController.update("message"))) {
                    <h2 class="heading">Send us a message</h2>
                    <input type="hidden" name="id" value="@invite.id.toString">
                    <textarea class="textarea is-primary is-large sunday" name="message">
                        @invite.rsvp.map(_.message).getOrElse("")
                    </textarea>
                    <button class="button is-warning is-large sunday" type="submit">Send</button>
                }
            </div>
*@
        </div>
    </section>
}