@import helpers.Auth
@()(implicit request: Security.AuthenticatedRequest[_, Auth])

    @views.html.rsvp.rsvpPage("RSVP", reactComponent = Some("rsvp")) {
        <section class="section">
            <div class="container">
                <p>We've got a bunch of questions to ask you about whether you can come, where you'll be staying and what
                you'll be eating. If you haven't already done so, it's worth reading through the
                <a href="@routes.KithAndKinController.accommodation">accommodation & food</a> page to understand the options.</p>
                <div id="container"></div>
            </div>
        </section>
    }