@import helpers._
@(coming: Boolean, total: Int, outstanding: Int)(implicit request: Security.AuthenticatedRequest[_, Auth])

@views.html.rsvp.rsvpPage("Thanks for RSVPing") {
    <section class="section">
        <div class="container">
            <div>
                <h1>Thanks for RSVPing</h1>
                @if(coming) {
                    <p>Yey! We're so excited that you'll be joining us at Kith & Kin.</p>
                    <p>If you made a mistake or want to change your RSVP then you can do that - just click on "Your RSVP" above at any time.</p>
                    @if(outstanding > 0) {
                        <h2 class="heading">Accommodation and food costs</h2>
                        <div class="columns">
                            <div class="column is-two-thirds">
                                <p>The accommodation and food choices you've made come to a total of
                                    @{total.sterling(true)}. @if(outstanding != total){(You've already sent us some money, the remainder is @{outstanding.sterling(true)}).}</p>
                                <p>We'd love for this to be paid as soon as you feel able.</p>
                            </div>
                            <div class="column">
                                <a class="button is-large is-danger" href="@routes.Payments.home()">See breakdown and pay now</a>
                            </div>
                        </div>
                    }
                    <h2>What next?</h2>
                    <p>Keep your eyes open for more festival details in the coming months and if you have any questions
                        in the meantime, send them over to us at <a href="mailto:info@@kithandkin.wedding">info@@kithandkin.wedding</a></p>
                    <p>See you in August!</p>
                    <p class="margin-bottom"><strong>Simon and Christina xx</strong></p>
                    <p/>
                } else {
                    <p>We're sad that you won't be able to make it, but thanks for letting us know. Hopefully we'll be able to catch up with you soon.</p>
                    <p>Simon and Christina xx</p>
                }

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <img src="@routes.Assets.versioned("images/tartan.png")">
        </div>
    </section>
}