@font-face {
  font-family: 'Sunday';
  src:url('/assets/fonts/Sunday.ttf.woff') format('woff'),
  url('/assets/fonts/Sunday.ttf.svg#Sunday') format('svg'),
  url('/assets/fonts/Sunday.ttf.eot'),
  url('/assets/fonts/Sunday.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Janda';
  src:url('/assets/fonts/Janda-Everyday-Casual.ttf.woff') format('woff'),
  url('/assets/fonts/Janda-Everyday-Casual.ttf.svg#Sunday') format('svg'),
  url('/assets/fonts/Janda-Everyday-Casual.ttf.eot'),
  url('/assets/fonts/Janda-Everyday-Casual.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}