@charset "utf-8"

@import "fonts"
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/grid/_all"
@import "sass/layout/_all"
@import "sass/elements/_all"
@import "menu"

body
  background-color: $background
  min-height: 100vh

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Sunday', sans-serif
  line-height: normal
  + p
    padding-top: 1em
  + h1
    padding-top: 1em
  + h2
    padding-top: 1em
  + h3
    padding-top: 1em
  + ul
    padding-top: 1em
  + input
    padding-top: 1em
  &.heading
    padding-bottom: 1em

h2:not(:first-of-type)
    padding-top: 1em

.super
  color: #9d2d14
h1.super
  +from($tablet)
    font-size: 4rem
h2.super
  +from($tablet)
    font-size: 3rem

h1.shrink-mobile
  +until($tablet)
    font-size: 1.3rem
h2.shrink-mobile
  +until($tablet)
    font-size: 1.1rem

form.inline
  margin-bottom: 0

body
  font-family: 'Janda', serif
  //line-height: 180%

p
  padding-bottom: 0.5em

h1
  font-size: 2.25rem
h2
  font-size: 1.7rem

h3
  font-size: 1.35rem

button.is-large
  font-family: 'Sunday', sans-serif

ul.asterisk
  list-style: none
  margin-left: 0
  padding-left: 0
  li
    padding-left: 1em
    text-indent: -1em
    &:before
      content: "*"
      padding-right: 5px

section.img-ben-aan
  background: url('/assets/images/us/ben-aan.jpg')
  background-size: cover
  background-position: right bottom
  h1
    color: rgba(255,255,255,0.8)
    font-size: 6rem

.hero
  &.is-four-fifths-height
    min-height: 80vh
    .hero-body
      +from($tablet)
        align-items: center
      display: flex
      & > .container
        flex-grow: 1
        flex-shrink: 1

.bg-right
  right: 0
  top: 0
  bottom: 0
  background: url('/assets/images/us/ceilidh.jpg')
  background-size: cover
  background-position: center bottom
  position: absolute
  width: 45%

pre.is-success
  color: white
  background-color: $success
  padding-bottom: 1em

.container
  max-width: 1152px
  margin: 0 auto

.center
  text-align: center

.no-margin
  margin: 0

.margin-bottom
  margin-bottom: 1em

.kith-festival
  display: flex
  justify-content: center

.menu-logo
  max-height: 5rem
  padding: 0.5rem

.kith-image
  height: 20%
  vertical-align: top

.widescreen-limit
  +from($widescreen)
    max-width: 60%

.festival-image
  height: 23%
  padding-top: 3%

.top-padding
  padding-top: 1rem

.bottom-padding
  padding-bottom: 1rem

.flip-x
  transform: scaleX(-1)

.thistle-container
  +mobile
    padding-bottom: 25rem

.thistle-bottom-right
  max-height: 35%
  position: absolute
  bottom: 0
  right: 0

.thistle-bottom-left
  max-height: 25rem
  position: absolute
  bottom: 0
  left: 0

.bring-to-front
  z-index: 1
  position: relative

.accommodation-tent
  max-height: 20rem
  padding: 1em
.get-involved-coo
  max-height: 23rem
  padding-right: 1em

.bunting
  padding: 0
  background-color: $primary-color

.mountains
  background-image: url("/assets/images/mountains.png")
  background-image: url("/assets/images/mountains.png"), linear-gradient(to bottom, #0079bc 0%,#a3fffd 75%, #22850f 100%)
  background-size: cover
  background-position: center bottom

.dictionary
  padding-top: 1rem
  font-family: Serif, serif
  font-size: 2rem
  padding-bottom: 2rem
  line-height: 100%

.dictionary-word
  white-space: nowrap

.dictionary-defn
  padding-left: 1rem


.words-container
  font-family: 'Sunday', sans-serif
  line-height: normal
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: flex-end
  padding-bottom: 1rem

.words
  padding: 0.0rem 0.5rem

  &:nth-child(2n)
    color: #6a59b5
  &:nth-child(2n+1)
    color: #b16434
  &:nth-child(3n+1)
    color: #09520f
  &:nth-child(4n)
    color: #cf5083
  &:nth-child(4n+1)
    color: #002553

  &.size-2
    font-size: 1.8rem
  &.size-3
    font-size: 2.4rem
  &.size-4
    font-size: 3.0rem

section.inverted
  background-color: #95dab9

section.rsvp-colour
  background-color: #c0ddb7

section.small-padding
  padding: .25em 1em

.question
  padding-bottom: 1.25em
  & button
    margin-right: 0.75em
    margin-bottom: 0.75em

.button.is-large
  font-family: 'Sunday', sans-serif

.stripe-button-el
  display: none !important

.tile-ie-fix
  display: flex
  flex-direction: row

.footer
  font-size: 0.8rem

ul.li-spacing
  li
    padding-bottom: 0.5em

td.present
  background-color: #f29c47
td.border-left
  border-left-width: 1px
td.border-right
  border-right-width: 1px
table.gantt
  td
    border-top-color: white
    border-top-width: 5px
    border-bottom-color: white
    border-bottom-width: 5px

.schedule
  h2
    font-size: 7rem
    text-align: center
  h3
    font-family: 'Janda', serif
    font-weight: bolder
  h3:not(:first-of-type)
    padding-top: 1em

  p
    padding-top: 0.4em

div.photo-frame
  border: 0.25em solid white
  border-bottom-width: 0.5em
  background-color: white
  & img
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    min-width: 100%
    height: auto
  & p
    color: black
    font-size: 1rem
    padding: 0