@()

@page("Accommodation options", bunting = false) {
    <section class="section">
        <div class="container">
            <img class="is-pulled-right accommodation-tent flip-x" src="@routes.Assets.versioned("images/bell-tent.png")">
            <h1>Accommodation</h1>

            <p>As the wedding is in a festival style, there are multiple options for staying on site and being close to
                the action! However, we know that camping in the outdoors is not to everyone's taste so we've listed a
                number of off site options too.</p>

            <p>To help you get your bearings, we've created a map with Bogbain Farm along with off-site accommodation
                and transport hubs. You can see it <a href="https://www.google.com/maps/d/viewer?mid=1ISyydpgZIVI5lKTeQoR7IjA3Lb4">
                here</a>.</p>

            <h2>Food</h2>

            <p>The venue's on-site chef, John, will cater for everyone for the whole weekend.  We are, of course,
                covering all costs on Saturday, but ask guests to cover other food costs (although all children eat on us).
                Breakfast is included in the pitch costs for those staying on site (optionally available for those who
                are staying offsite, but wish to join the breakfast fun). We'll also cater for Friday lunch and dinner
                as well as Sunday lunch. When you RSVP we'll ask for your approximate arriving and departure times and
                use you answers to calculate your contribution.</p>
            <p>Food guaranteed to be delicious!</p>

            <h2>Staying on site</h2>

            <p>The bride and groom will be camping on site and would love for you to join them. <a href="https://www.bogbainfarm.com/">
                Bogbain Farm</a>
                has plenty of warm, brick buildings and there will be toilets, showers, hair-dryers and inside space if chilly or rainy. We'll provide some inside space for storing dresses, suits and kilts.</p>

            <div class="tile-ie-fix">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <h3>Bring your own tent</h3>
                            <p>If you want the full festival experience then bring your own tent along. Covers pitch cost and includes breakfast.</p>
                            <p><strong>£25 per adult</strong></p>
                        </article>
                        <article class="tile is-child notification is-info">
                            <h3>Caravan or campervan</h3>
                            <p>Maybe you already have a caravan or perhaps you're planning to make a holiday of the trip and are looking at hiring a campervan. If so then we'd be glad to accommodate you (if you're after a campervan then have a look at <a href="http://www.bigtreecampervans.com/">
                                Big Tree Campervans</a>).</p>
                            <p>Covers pitch cost and includes breakfast.</p>
                            <p><strong>£25 per adult</strong> (+ £50 if you want an electrical hook-up)</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <h3>Bell tent glamping</h3>
                            <p>Want to stay on site but not looking forward to pitching your tent in the dark (not that it'll get dark until 11pm...)? Hire a bell tent for the weekend!</p>
                            <p>These large 5m bell tents (big enough to stand up in the middle) will be up when you arrive, sleep six adults comfortably, and comes complete with a foam cube / mattress to sleep on. If you decide to leave your sleeping bag at home you can optionally hire duvet and pillows too.</p>
                            <p><strong>£150 for the tent + £40 per adult</strong>
                                (+ £15 per person for duvet & pillow)</p>
                            <h4>e.g.</h4>
                            <p>If you want to exclusively hire a bell tent for you and a friend / partner complete with duvet & pillows then it will be £150 + 2x£40 + 2x£15 = £260 (£130pp)</p>
                            <p>If you share with five others (probably as many as we'd recommend) and opt to all bring sleeping bags then it will work out as £150 + 6x£40 = £390 (£65pp)</p>
                        </article>
                    </div>
                </div>
            </div>

            <h2>Staying off site</h2>

            <p>Be aware that Inverness is a popular holiday destination and accommodation sells out quickly. With that in mind we recommend that you book sooner rather than later!</p>

            <p>If you're staying off site then we will assume that you won't be joining us for breakfast as so many places will include this. If you want to join the fun then please let us know!</p>

            <h3 class="heading">Suggested off site accommodation options</h3>

            <div class="tile-ie-fix">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                        <div class="tile-ie-fix margin-bottom">
                            <article class="tile is-child notification is-success">
                                <h3>Drummossie Hotel</h3>
                                <p>Only one mile away from Bogbain farm, walkable along a fairly quiet road</p>
                                <p><strong>£699 for a double room for 3 nights</strong></p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-drumossie-hotel/">
                                        Visit website</a></p>
                            </article>
                        </div>
                        <div class="tile-ie-fix margin-bottom">
                            <article class="tile is-child notification is-primary">
                                <h3>Dairy at Daviot</h3>
                                <p>The dairy has six four-person self catering cottages two miles away from Bogbain.</p>
                                <p><strong>£504 for 3 nights</strong></p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://www.dairyatdaviot.co.uk/the-dairy-ayrshire.asp#Availability">
                                        Visit website</a></p>
                            </article>
                        </div>
                        <div class="tile-ie-fix">
                            <article class="tile is-child notification is-info">
                                <h3>Mews at Daviot Lodge</h3>
                                <p>More self catering cottages three miles away from Bogbain.</p>
                                <p><strong>£515 for 3 nights (for 2 people)</strong></p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://www.themewsdaviotlodge.co.uk/">Visit website</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile-ie-fix margin-bottom">
                            <article class="tile is-child notification is-warning">
                                <h3>Daviot Lodge</h3>
                                <p>A five star hotel three miles away from Bogbain. Breakfast included, naturally. FIVE STARS.
                            <p><strong>
                                £105 a night for double or twin room / £125 master bedroom / £70 single</strong></p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://www.daviotlodge.co.uk/rates">Visit website</a></p>
                            </article>
                        </div>
                        <div class="tile-ie-fix">
                            <article class="tile is-child notification is-danger">
                                <h3>Travel Lodges or Premier Inns</h3>
                                <p>Premier Inn Inverness East (2.5 miles) - <strong>£300 for 3 nights</strong>
                                    for a double room
                                    <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://www.premierinn.com/gb/en/hotels/scotland/highland/inverness/inverness-east.html">
                                        Visit website</a>
                                </p>
                                <p>Travel Lodge Inverness (3 miles) - <strong>£320 for 3 nights</strong>
                                    for a double room
                                    <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="https://www.travelodge.co.uk/hotels/211/Inverness-hotel">Visit website</a>
                                </p>
                                <p>Travel Lodge Inverness Fairways (5 miles) - <strong>£250 for 3 nights</strong>
                                    for a double room
                                    <span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="https://www.travelodge.co.uk/hotels/278/Inverness-Fairways-hotel">
                                        Visit website</a>
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <div class="tile-ie-fix margin-bottom">
                            <article class="tile is-child notification is-info">
                                <h3>Gask House</h3>
                                <p>Self catering on a farm! Six miles away from Bogbain.</p>
                                <p><strong>4 bed - £915 for seven nights</strong></p>
                                <p><strong>2 bed - £462 for three nights</strong></p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="https://www.gaskhouse.co.uk/availability-and-rates/">Visit website</a></p>
                            </article>
                        </div>
                        <div class="tile-ie-fix margin-bottom">
                            <article class="tile is-child notification is-purple">
                                <h3>Kingsmill Hotel</h3>
                                <p>A little over three miles away from Bogbain farm.</p>
                                <p><strong>£290 a night for a double room</strong>
                                    - 10% discount if booked through Bogbain</p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="http://kingsmillshotel.com/">Visit website</a></p>
                            </article>
                        </div>
                        <div class="tile-ie-fix">
                            <article class="tile is-child notification is-success">
                                <h3>Airbnb</h3>
                                <p>There are a handful of options on Airbnb in the area which might make for enjoyable alternatives.</p>
                                <p><span class="icon is-small"><i class="fa fa-external-link"></i></span>
                                    <a href="https://www.airbnb.co.uk/s/Bogbain-Farm--Inverness">Visit website</a></p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}