@()

@page("Get involved!") {
    <section class="section">
        <img class="pull-left get-involved-cow" src="@routes.Assets.versioned("images/cow.png")">
        <h1>Get Involved!</h1>
        <p>So in case you hadn't realised, we’re not exactly going for a traditional wedding… We’ve chosen not to have a gift list, in favour of a truly participatory wedding where you can give as you like - time, energy, skills or creativity.</p>
        <p>You can get involved pretty much anyway you want, but here are a few suggestions:</p>
        <h3>Roles</h3>
        <ul class="asterisk">
            <li>Programme co-ordinator - helping us organise everything and create a wedding schedule and festival guide</li>
            <li>Accommodation co-ordinator</li>
            <li>Contributors co-ordinator</li>
            <li>Outdoor games coordinator (e.g. Highland Games, Kube, Mölky, treasure hunt, hide and seek etc)</li>
            <li>Marshmallow King / Queen (anyone want toasted marshmallows over the bonfire?)</li>
        </ul>
        <h3>General</h3>
        <ul class="asterisk">
            <li>Site vibing (lights, signage, flowers, bunting, flags)</li>
            <li>Childcare / activities (face painting, arts and crafts)</li>
            <li>Music (play an instrument, want to be in a scratch band or perform?)</li>
            <li>Story-telling / Poetry</li>
            <li>Festival pack creation</li>
            <li>Board games master</li>
            <li>Quiz master</li>
            <li>Stargazing (anyone have their own telescope we could borrow?)</li>
            <li>Lead a walk in Daviot woods</li>
            <li>Leading a whisky or gin tasting</li>
            <li>Hair and makeup?</li>
            <li>Photography?</li>
            <li>Recommendations and introductions (for any of the above)</li>
        </ul>

        <h3>You really want to give?</h3>

        <p>Oh, alright then… We’re not going to stop you if you’re THAT insistent. We'd love a contribution to our honey sun-moon-earth fund (ask Simon for more details). Alternatively - adlib and give us something to treasure.</p>
    </section>
}