@()

@page("Get involved!") {
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <img class="get-involved-coo" src="@routes.Assets.versioned("images/cow.png")">
                </div>
                <div class="column is-two-thirds">
                    <h1>Get Involved!</h1>
                    <p>So in case you hadn't realised, we’re not exactly going for a traditional wedding… We’ve chosen not to have a gift list, in favour of a truly participatory wedding where you can give as you like - time, energy, skills or creativity.</p>
                    <p>This is a chance to let your hair down, not care about what anyone else thinks and have fun.</p>
                    <p>You can get involved pretty much anyway you want but below are some suggested areas in which you can volunteer… We’ll ask you for more details on the RSVP.</p>
                </div>
            </div>
            <div class="is-clearfix"></div>

            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile-ie-fix">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-info">
                                    <h3>Activities</h3>
                                    <ul class="asterisk">
                                        <li>Campfire pyromaniac</li>
                                        <li>Marshmallow King / Queen (anyone want toasted marshmallows over the bonfire?)</li>
                                        <li>Outdoor games: Highland Games, Kube, Mölky, treasure hunt, hide and seek etc.</li>
                                        <li>Indoor games - Board Games, Quiz etc.</li>
                                        <li>Stargazing (anyone have their own telescope we could borrow?)</li>
                                        <li>Walk in Daviot woods</li>
                                        <li>Whisky or Gin Tasting</li>
                                        <li>Taize</li>
                                        <li>Slackline school</li>
                                        <li>Circus skills</li>
                                        <li>Shelter / den building</li>
                                        <li>Zumba / Yoga / Tai Chi / Pilates</li>
                                        <li>Programme Coordinator - co-ordinate all of the above!</li>
                                    </ul>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-primary">
                                    <h3>Music and arts</h3>
                                    <ul class="asterisk">
                                        <li>Playing music</li>
                                        <li>Organising a scratch band</li>
                                        <li>Story-telling</li>
                                        <li>Poetry</li>
                                        <li>Spoken word</li>
                                        <li>Stand up comedy</li>
                                        <li>Talks</li>
                                        <li>Dance</li>
                                        <li>Writing</li>
                                        <li>Exhibitions</li>
                                        <li>Contributors Coordinator - co-ordinate all of the above!</li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="tile-ie-fix">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-success">
                                    <h3>Kids</h3>
                                    <p>We've got a whole load of kids coming to Kith and Kin and we want them to have as much
                                        fun as adults, whilst giving parents some space! Help us make this possible...</p>
                                    <ul class="asterisk">
                                        <li>Bouncy Castle supervisors (there will be an adult bouncy castle too)</li>
                                        <li>Face painting</li>
                                        <li>Arts and crafts</li>
                                        <li>Puppet shows</li>
                                        <li>Fancy dress</li>
                                        <li>Outdoor and indoor games (as above)</li>
                                        <li>Kids Coordinator - co-ordinating all of the above and making sure everything is in place over the weekend</li>
                                    </ul>
                                </article>
                            </div>
                            <div class="tile is-vertical">
                                <div class="tile-ie-fix">
                                <div class="tile">
                                    <div class="tile is-parent">
                                        <article class="tile is-child notification is-warning">
                                            <h3>Food</h3>
                                            <ul class="asterisk">
                                                <li>Sourcing a churros van!</li>
                                                <li>Liaising with on-site catering</li>
                                                <li>Food Coordinator - making sure everyone is fed</li>
                                            </ul>
                                        </article>
                                    </div>
                                    <div class="tile is-parent">
                                        <article class="tile is-child notification is-danger">
                                            <h3>Setup & Logistics</h3>
                                            <ul class="asterisk">
                                                <li>Site Manager</li>
                                                <li>Site vibing (lights, signage, flowers, bunting, flags)</li>
                                                <li>Transport (pick ups and drop offs)</li>
                                                <li>Festival pack design and creation</li>
                                            </ul>
                                        </article>
                                    </div>
                                </div>
                                </div>
                                <div class="tile-ie-fix">
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-purple">
                                        <h3>Networks</h3>

                                        <p>Recommendations and introductions for any of the above!</p>

                                    </article>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2>You really want to give?</h2>

                <p>Oh, alright then… We’re not going to stop you if you’re THAT insistent. We'd love a contribution to our honey sun-moon-earth fund (ask Simon for more details). Alternatively - adlib and give us something to treasure.</p>
            </div>
        </div>
    </section>
}