@()

<html>
    <head>
        <title>The Kith & Kin Festival</title>
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    </head>
    <body>
        <div class="margin-bottom">
            <h1 class="no-margin center">Simon Hildrew and Christina Kelling</h1>
            <h2 class="no-margin center">present</h2>
        </div>
        <div class="kith-festival">
            <img class="kith-image" src="@routes.Assets.at("images/kith-kin.png")">
            <img class="festival-image" src="@routes.Assets.at("images/sun.png")">
        </div>
        <h1>Welcome!</h1>
        <p>Hi there, welcome to our wedding website.</p>
        <p>There's not much to see right now, but come back in a couple of weeks!</p>
    </body>
</html>