@(title: String, menu: Boolean = true, bunting: Boolean = true)(body: Html)

<html>
    <head>
        <title>@title</title>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16" />
        <link href="@routes.Assets.versioned("third-party/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
    </head>
    <body>
        @if(menu) {
            <section class="hero">
                <div class="menu">
                    <ul>
                        <li><h2><a href="@routes.KithAndKinController.index.withFragment("festival")">Festival?</a></h2></li>
                        <li><h2><a href="@routes.KithAndKinController.accommodation">Accommodation</a></h2></li>
                    </ul>
                    <div class="center">
                        <a href="@routes.KithAndKinController.index"><img class="menu-logo" src="@routes.Assets.versioned("images/kith-kin.png")"></a>
                    </div>
                    <ul>
                        <li><h2><a href="@routes.KithAndKinController.getInvolved">Get Involved</a></h2></li>
                        <li><h2><a href="@routes.RsvpController.start">RSVP</a></h2></li>
                    </ul>
                </div>
            </section>
        }
        @if(menu && bunting) {
            <section>
                <img src="@routes.Assets.versioned("images/bunting.png")">
            </section>
        }
        @body
    </body>
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-85017705-3', 'auto');
            ga('send', 'pageview');
    </script>
</html>