@(implicit request: RequestHeader)
@import helper._

@page("Kith & Kin RSVPs") {
    <section>
        <img src="@routes.Assets.at("images/bunting.png")">
    </section>
    <section class="section">
        <div class="container">
            <h1>RSVP</h1>

            <p>Can you make Kith & Kin? Please let us know! To get started enter your e-mail address or phone number below.</p>
            @form(CSRF(routes.RsvpController.lookup)) {
                <div class="control is-grouped">
                    <p class="control is-expanded"><input class="input" placeholder="Your e-mail (e.g. simon@@hildrew.net) or phone number (e.g. +441234123123)" type="text" name="contact"></p>
                    <p class="control"><button class="button" type="submit" name="submit">Go!</button></p>
                </div>
            }


        </div>
    </section>
}