@(invite: Invite)

@page("RSVP"){
    <section class="section">
        <h1>RSVP details</h1>
        @invite.adults.map { adult =>
            <p>@adult.name</p>
        }
        @if(invite.children.nonEmpty) {
            <h2>Kids</h2>
            @invite.children.map { kid =>
                <p>@kid.name (DOB: @kid.dob)</p>
            }
        }
        <h2>Your RSVP has the following contact details:</h2>
        <p><strong>E-mail:</strong> @invite.email</p>
        <p><strong>Phone:</strong> @invite.phone</p>
        <p><strong>Address:</strong> @invite.address</p>
    </section>
}